
h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
    color: powderblue;
    font-weight: bolder;
    font-variant: small-caps;
    text-shadow: 1px 1px #000000;
    margin-left: 25px; 
    margin-top: 50px;
    margin-right: 25px;

}
p {
    font-family: Verdana, Arial, serif;
    font-size: 13px;
    margin-left: 30px; 
    margin-top: 30px;
    text-align: left;
    margin-right: 30px;
}

.maplibregl-ctrl-attrib {
    display: none !important;
}

footer {
    font-family: Verdana, Arial, serif;
    font-size: 10px;
    margin-left: 30px; 
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
    font-style: italic;
    margin-right: 30px;
}


html, body {
    height: 100%;
    margin: 0;
}

A{
    color: #87CEEB;
}

Label{
    font-family: Verdana, Arial, serif;
    font-size: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
    margin-right: 30px;
}

#dropdown .Select-control {z
    border: 1px solid #ccc !important;s
    color: black !important;
    border: 2px solid black;
    border-radius:20px;
}

#dropdown .Select-menu-outer {
    background-color: #fcfcfc !important;
}

#dropdown .Select-option {
    background-color: #fcfcfc !important;
    color: black !important;
}

#dropdown .Select-option:hover {
    background-color: #e8e8e8 !important;
}

