
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

h1, h2, h3, h4, h5, h6 {
    font-family: "Public Sans", Arial, sans-serif;
    color: powderblue;
    font-weight: 700;
    font-variant: small-caps;
    text-shadow: 1px 1px #000000;
    margin-left: 25px; 
    margin-top: 50px;
    margin-right: 25px;
}

p {
    font-family: Verdana, Arial, serif;
    font-size: 13px;
    margin-left: 30px; 
    margin-top: 30px;
    text-align: left;
    margin-right: 30px;
}

section {
    font-family: Verdana, Arial, serif;
    font-size: 16px;
    text-align: left;
    margin-top: 30px;
        font-weight: bolder;
}

.maplibregl-ctrl-attrib {
    display: none;
}


footer {
    font-family: Verdana, Arial, serif;
    font-size: 10px;
    margin-left: 30px; 
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
    font-style: italic;
    margin-right: 30px;
}


html, body {
    height: 100%;
    margin: 0;
}

A{
    color: #87CEEB;
}

Label{
    font-family: Verdana, Arial, serif;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    margin-right: 30px;
}

#dropdown .Select-control {
    border: 1px solid white ;
    color: white !important;
    font-style: italic;
    background-color: #1a2026;
    border-radius: 5px;
}

#react-select-2--value-item {
    color: white !important;
}

#dropdown .Select-menu-outer {
    background-color: #1a2026;
    color: white;
}

#dropdown .Select-option {
    background-color: #1a2026;
    color: white ;
}

#dropdown .Select-option:hover {
    background-color: #1a2026;
}

